
  

  .fut-list {font-family: 'Roboto', sans-serif;

    font-style: normal;   
font-weight: 400;
font-size: 14px;
line-height: 1,7;
letter-spacing: 0.03em;
color: #212121;}
/*color: #FFFFFF; background: #2F303A;}














